body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.head span{
  color:white;
}

.header {
  background-color: #800000;
  color: #fff;
  height: 90px;
  border: 5px solid black;
}

.header span {
  color:white;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: right;
  padding: 20px 40px;
}

.main {
  padding: 100px 80px;
  background-color: #FFC0CB;
  
}

.copy-container h1 {
  font-size: 140px;
}

.copy-container h2 {
  font-size: 60px;
}

.copy-container span {
  color: white;
}

.contents {
  height: 500px;
  margin-top: 100px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  margin-right: 40px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
  
}

.contact-form {
  padding-top: 100px;
}

/* Add CSS for <input> and <textarea> tags */
input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

/* Add CSS for contact-submit */
.contact-submit {
  background-color:navy;
  color:#889eab;
}

.footer {
  background-color:#800000;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer span {
  color:white;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
